log
gmon.out
callgrind.out.*
output*
temp
build/*
build
debug
debug/*
release
release/*

# conan
CMakeCache.txt
CMakeFiles/
Makefile
bin/
cmake_install.cmake
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
